doctype html
html
  head
    block head
      link(rel="icon", type="png", href="images/logo_16.png")
      title #{subtitle} &ndash; #{title}

    block css
      link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Averia+Libre:400,700|Permanent+Marker')
      link(rel='stylesheet', type='text/css', href='/css/site.css', media='all')
    block scripts
      script(type="text/javascript").
        dojoConfig = {
          async: 1,
          baseUrl: "#{root}/",
          packages: [{
              name: "dojo",
              location: "dojo"
            },{
              name: "dijit",
              location: "dijit"
            },{
              name: 'core',
              location: 'core'
            },{
              name: "kitsonkelly-client",
              location: "kitsonkelly-client"
            }],
          deps: ["kitsonkelly-client/main"]
        };
      script(type="text/javascript", src='#{root}/dojo/dojo.js')

  block body
    .header
      ul
        li
          a(href='/') Home
        li
          a(href='/cv') CV/Résumé
        li
          a(href='/code') Code
        li
          a(href='/photos') Photos
        li
          a(href='http://blog.kitsonkelly.com/', target="_blank") Blog
    .content
      block content
    .footer
      .copy Copyright &copy; 2013 &ndash; All Rights Reserved
    script(type="text/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42376316-1', 'kitsonkelly.com');
      ga('send', 'pageview');
